.idea
.DS_Store
.env
.env.js
.netlify
.redwood
dev.db*
dist
dist-babel
node_modules/
!node_modules/.prisma
yarn-error.log
web/public/mockServiceWorker.js
web/public/storybook
web/types/graphql.d.ts
api/types/graphql.d.ts
notes.md
zipped
contracts/.openzeppelin
package-lock.json
docker-compose.yml
